<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>坂道46</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <div class="head">
  <h2>坂道46</h2>
  </div>
  <p><%= mes %></p>
  <div class="flex">
    <div class="slope">
    <p>●乃木坂46</p>
      <a href="/public/top.html">乃木坂情報へのリンク</a>
      <img src="https://img-mdpr.freetls.fastly.net/article/uJZY/nm/uJZYDmhGvFXyew3KWSWPYnykGGgiiijeAS5zjuO9WtI.jpg?width=1520&auto=webp&quality=80" width="250" height="200">
    </div>
    <div class="slope">
      <p>●櫻坂46</p>
      <img src="https://img.hmv.co.jp/hybridimage/news/images/22/0608/129/body_105057.jpeg" width="250" height="200">
    </div>
    <div class="slope">
      <p>●日向坂46</p>
      <img src="https://www.bubkaweb.com/wp-content/uploads/2022/09/44907d777b0c960c9d2c201ba64a3368-2-768x439.jpg" width="250" height="200">
    </div>
  </div>
</body>
</html>