.hello{
  padding: 0.2em 0.5em;
}
.slope {
  padding: 0.2em 0.5em 0.2em;
  margin: 0.2em 0.3em;
  color: #363678;
  background:  #fff;
  border-top: solid 10px #695d3f;
  border-bottom: solid 10px #695d3f;
  border-left: solid 10px #695d3f;
  border-right: solid 10px #695d3f;
  width: 350px;
  height: 250px;
}
.slope p {
    margin: 0; 
    padding: 0;
}
.head {  
  display: block;
  position: relative;
  left: 10px;
  margin: 0.5em;
  padding: 0.5px;
  background: #fffcf5;
}
.headd {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 0 0 -20px;
  width: calc(100% + 20px);
  font-size: 22px;
  color: #fff;
  background: #e6cead;
}
.headd:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #b38861;
}
.title{
  padding: 0.25em 0.5em;
  color: #31323a;
  background: #dbc7ff;
  border-left: solid 5px #627295;
}
.nogi {
  padding: 0.2em 0.5em;
  margin: 0.8em 1em;
  color: #363678;
  box-shadow: 0px 0px 0px 10px #ebdcbd;
  border: dashed 2px white;
  width: 330px;
  height: 220px;
}
.nogi p {
    margin: 0; 
    padding: 0;
}
.flex{
  display: flex;
}
.slide {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.slide img {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  left: 100%;
  animation: slide-anime 20s ease infinite;
}
.slide img:nth-of-type(1) {animation-delay: 0s;}
.slide img:nth-of-type(2) {animation-delay: 4s;}
.slide img:nth-of-type(3) {animation-delay: 8s;}
.slide img:nth-of-type(4) {animation-delay: 12s;}
.slide img:nth-of-type(5) {animation-delay: 16s;}
 
@keyframes slide-anime{
  0% {left: 100%;}
  2% {left: 0;}
  18% {left: 0;}
  20% {left: -100%;}
  100% {left: -100%;}
}

.btn-squre1{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #db94f5;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-squre1:hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.btn-squre2{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #9594f5;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-squre2:hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.btn-squre3{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #94cbf5;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-squre3:hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.titlesin {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 40px 0 18px;
  font-size: 18px;
  background: #db94f5;
  color: #ffffff;
  box-sizing: border-box;
}
.titlesin:after {
  position: absolute;
  content: '';
  z-index: 1;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.titlemem {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 40px 0 18px;
  font-size: 18px;
  background: #9594f5;
  color: #ffffff;
  box-sizing: border-box;
}
.titlemem:after {
  position: absolute;
  content: '';
  z-index: 1;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.titlesal {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 40px 0 18px;
  font-size: 18px;
  background: #94cbf5;
  color: #ffffff;
  box-sizing: border-box;
}
.titlesal:after {
  position: absolute;
  content: '';
  z-index: 1;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

label{
  font-size: 20px;
}

.check input[type="checkbox"]{
    display: none;
}
.check input[type="checkbox"]+label{
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
}
.check input[type="checkbox"]+label::before{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    left: 0;
    top: 50%;
    border: 1px solid;
    border-color:  #585753;
    background-color: #ffffff;
}
.check input[type="checkbox"]:checked+label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 9px;
    margin-top: -9px;
    top: 50%;
    left: 3px;
    transform: rotate(-45deg);
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color:  #ff669c; 
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    position: relative;
    vertical-align: sub;
    margin-right: 5px;
  }
  input[type="radio"]::before, input[type="radio"]::after{
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
  }
  input[type="radio"]::before {
    background-color: #fff;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    left: 0px;
  }
  input[type="radio"]::after {
    background-color: #ff669c;
    opacity: 0;
    height: 14px;
    width: 14px;
    left: 4px;
  }
  input[type="radio"]:checked::after {
    opacity: 1;
  }

.sintable th{
  border-color: #000000;
  background-color: #f9e5ff;
}

.memtable th{
  border-color: #000;
  background-color: #d6e2ff;
}

.table th{
  border-color: #000;
  background-color: #d6efff;
}