.title{
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 40px 0 18px;
  font-size: 18px;
  background: #e9c7ff;
  color: #44657e;
  bix-sizing: border-box;
}
.title:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}
.title:after {
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}
.nogi{
  font-size: 18px;
  color: #325c77;
}
.official{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.flex{
  display: flex;
}
.slide {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 350px;
}
.slide img {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  left: 100%;
  animation: slide-anime 20s ease infinite;
}
.slide img:nth-of-type(1) {animation-delay: 0s;}
.slide img:nth-of-type(2) {animation-delay: 4s;}
.slide img:nth-of-type(3) {animation-delay: 8s;}
.slide img:nth-of-type(4) {animation-delay: 12s;}
.slide img:nth-of-type(5) {animation-delay: 16s;}
 
@keyframes slide-anime{
  0% {left: 100%;}
  2% {left: 0;}
  18% {left: 0;}
  20% {left: -100%;}
  100% {left: -100%;}
}

.btn-squre1{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #db94f5;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-squre1: active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  boeder-buttom: none;
}

.btn-squre2{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #9594f5;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-squre2: active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  boeder-buttom: none;
}

.btn-squre3{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #94cbf5;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-squre3: active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  boeder-buttom: none;
}