.slope {
  padding: 0.2em 0.5em;
  margin: 0.5em 1em;
  color: #363678;
  box-shadow: 0px 0px 0px 12px #695d3f;
  width: 350px;
  height: 250px;
}
.slope p {
    margin: 0; 
    padding: 0;
}
.head {
  position: relative;
  box-sizing: border-box;
  padding: 0em 2em;
  margin: 0;
  width: 200px;
  font-size: 18px;
  color: white;
  background: #e6cead;
}
.head:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-right: solid 20px #b38861;
}
.title{
  padding: 0.25em 0.5em;
  color: #31323a;
  background: #dbc7ff;
  border-left: solid 5px #627295;
}
.nogi {
  padding: 0.2em 0.5em;
  margin: 0.8em 1em;
  color: #363678;
  box-shadow: 0px 0px 0px 10px #ebdcbd;
  border: dashed 2px white;
  width: 330px;
  height: 220px;
}
.nogi p {
    margin: 0; 
    padding: 0;
}
.flex{
  display: flex;
}
.slide {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.slide img {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  left: 100%;
  animation: slide-anime 20s ease infinite;
}
.slide img:nth-of-type(1) {animation-delay: 0s;}
.slide img:nth-of-type(2) {animation-delay: 4s;}
.slide img:nth-of-type(3) {animation-delay: 8s;}
.slide img:nth-of-type(4) {animation-delay: 12s;}
.slide img:nth-of-type(5) {animation-delay: 16s;}
 
@keyframes slide-anime{
  0% {left: 100%;}
  2% {left: 0;}
  18% {left: 0;}
  20% {left: -100%;}
  100% {left: -100%;}
}

.btn-squre1{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #db94f5;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-squre1:hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  boeder-buttom: none;
}

.btn-squre2{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #9594f5;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-squre2:hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  boeder-buttom: none;
}

.btn-squre3{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #94cbf5;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-squre3:hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  boeder-buttom: none;
}
.titlesin {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 40px 0 18px;
  font-size: 18px;
  background: #db94f5;
  color: #ffffff;
  box-sizing: border-box;
}
.titlesin:after {
  position: absolute;
  content: '';
  z-index: 1;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.titlemem {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 40px 0 18px;
  font-size: 18px;
  background: #9594f5;
  color: #ffffff;
  box-sizing: border-box;
}
.titlemem:after {
  position: absolute;
  content: '';
  z-index: 1;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}